
mat-card {
  width: 70%;
  margin: 10px auto;
}

mat-card-title {
  margin: 1rem;
}

mat-form-field {
  margin: 30px;
}

mat-list {
  width: 70%;
}

.colors-block {
  border: 1px solid grey;
  padding: 20px;
  margin: 10px;
}

.preview-block {
  width: 2rem;
  height: 2rem;
}

