/* You can add global styles to this file, and also import other style files */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 60px;
}

.text-center {
  text-align: center;
  margin: 10px;
}

.p1 {
  padding: 10px;
}
.p2 {
  padding: 15px;
}
.p3 {
  padding: 20px;
}

.m1 {
  margin: 10px;
}

.m2 {
  margin: 15px;
}

.m3 {
  margin: 20px;
}
