.list-item-1 {
  position: absolute;
  margin-left: 300px;
}

.list-item-2 {
  position: absolute;
  margin-left: 400px;
}


.list-item-3{
  position: absolute;
  margin-left: 500px;
}

a[ng-reflect-router-link] {
  color: #0f2840;
  font-weight: 700;
}


