<div *ngIf="calendars$ | async as calendars; else loader">
  <div *ngIf="calendars.length > 0; else empty">
    <mat-list class="container">
      <div mat-header-row class="m3">Calendars</div>
      <mat-list-item *ngFor="let calendar of calendars">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>
          <a
            [routerLink]="calendar.legends.length > 0
                ? ['/calendar', calendar._id]
                : ['/legends', calendar.legendType, calendar._id]
            "
          >
            {{ calendar.title }}
          </a>
        </div>
        <div mat-line>{{ calendar.description }}</div>

        <div mat-column class="list-item-1">
          <a
            mat-button
            matTooltip="Edit calendar"
            matTooltipPosition="below"
          >
            <mat-icon mat-list-icon>edit</mat-icon>
          </a>
        </div>
        <div mat-column class="list-item-2">
          <a
            mat-button
            matTooltip="Statistics"
            matTooltipPosition="below"
          >
            <mat-icon mat-list-icon>description</mat-icon>
          </a>
        </div>
        <div mat-column class="list-item-3">
          <a
            mat-button
            matTooltip="Delete calendar"
            matTooltipPosition="below"
          >
            <mat-icon mat-list-icon>delete</mat-icon>
          </a>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>

<ng-template #loader>
  <mat-spinner class="container"></mat-spinner>
</ng-template>

<ng-template #empty>
  <div
    class="text-center"
    [dirStyles]="{color: 'blue'}"
    appStyles
  >
    У вас еще нет календарей. Хотите создать?
  </div>
  <div class="text-center">
    <button
      mat-fab
      color="primary"
      matTooltip="Конечно создать!"
      matTooltipPosition="below"
      routerLink="/calendar/new"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>
