

mat-card {
  width: 80%;
  margin: 10px auto;
}

mat-card-title {
  margin: 1rem;
}

mat-form-field {
  margin: 30px;
}

mat-list {
  width: 90%;
  text-align: center;
}

.main-block {
  display: grid;
  grid-template-columns: 70% 30%;
}

.form-block{

}

.legend-block {

}
